@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background: linear-gradient(-35deg,rgb(0, 26, 255),rgb(219, 6, 209));
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: start center;
    gap: 10px;
    height: 100vh;
    
}
figure img{
    border-radius: 50%;
    box-shadow: 2px 2px 15px;
}
h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 1.8em;
}
h2{
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
}
footer h3{
    font-size: 1em;
    color: rgba(250, 235, 215, 0.774);
}
#list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

}

footer{
    color: white;
    margin-top: 40px;
    
}
.option{
    background-color: aliceblue;
}
.option:hover{
    background-color: rgba(240, 248, 255, 0.651);
}
.option a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}





